<div class="palette-body" ng-class="{palettevisible: visible}">
    <div class="palette-inner">
        <input type="text" class="palette-input" ng-model="query.name" ng-blur="close()" focus-on="{{visible}}" ng-keydown="keyHandler($event)">
        <div class="palette-results" ng-show="filteredCommands.length">
            <div class="palette-item" ng-repeat="command in (filteredCommands = (commands | orderBy: 'name'| filter:query ))" ng-class="{selected: $index == activeCmd}" ng-bind-html-unsafe="command.name | highlight:query.name" scroll-to-contain="{{$index == activeCmd}}" ng-click="useSelection(command)"></div>
            <!-- <div class="palette-item" ng-repeat="command in (filteredCommands = (commands | fuzzy:query))" ng-class="{selected: $index == activeCmd}">{{command.name}}</div> -->
        </div>
    </div>
</div>
